# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
  welcome: circleci/welcome-orb@0.4.1
jobs:
  merge-to-staging:
    docker:
      - image: cimg/base:2021.04
    steps:
      - run:
          name: Git push
          command: git push origin/master
        
workflows:
  welcome:
    jobs:
      - welcome/run
      - merge-to-staging
