# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
  welcome: circleci/welcome-orb@0.4.1
jobs:
  merge-to-staging:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - run:
          name: Git list
          command: git branch -a -v
      - run:
          name: Git checkout test-branch
          command: git checkout origin/test-branch
      - run:
          name: Git merge
          command: git merge origin/circleci-project-setup
      - run:
          name: Git push
          command: git push

workflows:
  welcome:
    jobs:
      - welcome/run
      - merge-to-staging
